body {
	background-image: url('back.jpg');
	background-size: cover;
	color: white;
	text-align: center;
}

ul {
	list-style: none;
}

li {
	background: rgba(255, 255, 255, 0.3);
	padding: 2%;
	margin: 2%;
	font-size: 2em;
}